Repository nokia-wroclaw/innovativeproject-noticrawl, pull requests merged in 2020-06, with the labels that each got.

#43 Resolve "User authorization"
  backend/Dockerfile.backend
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/auth/__init__.py
  backend/src/auth/auth_controller.py
  backend/src/auth/auth_service.py
  backend/src/auth/bearer_cookie_auth.py
  backend/src/crawling/crawling_controller.py
  backend/src/crawling/scheduler.py
  backend/src/database/database_schemas.py
  backend/src/helpers/debug.py
  backend/src/helpers/oauth2_scheme.py
  backend/src/main.py
  backend/src/scrapy.cfg
  backend/src/scrapy_project/items.py
  backend/src/scrapy_project/middlewares.py
  backend/src/scrapy_project/pipelines.py
  backend/src/scrapy_project/settings.py
  backend/src/scrapy_project/spiders/__init__.py
  backend/src/scrapy_project/spiders/quotes_spider.py
  backend/src/scrapy_project/spiders/wp_spider.py
  backend/src/user/user_controller.py
  backend/src/user/user_model.py
  backend/src/user/user_service.py
  backend/wp.html
  docker-compose.yml
Labels: To Review, backend

#53 52 status codes in docs
  backend/src/auth/auth_controller.py
  backend/src/auth/auth_service.py
  backend/src/crawling/crawling_controller.py
  backend/src/helpers/status_code_model.py
  backend/src/main.py
  backend/src/user/user_controller.py
  backend/src/user/user_service.py
Labels: To Review, backend

#50 Resolve: "Build frontend in dockerfile"
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  backend/poetry.lock
  backend/pyproject.toml
  build.sh
  docker-compose.yml
  frontend/build/asset-manifest.json
  frontend/build/favicon.ico
  frontend/build/index.html
  frontend/build/manifest.json
  frontend/build/precache-manifest.7e11558ba44f2b99521cf90c85733b73.js
  frontend/build/robots.txt
  frontend/build/service-worker.js
  frontend/build/static/css/main.bf9fe4f8.chunk.css
  frontend/build/static/css/main.bf9fe4f8.chunk.css.map
  frontend/build/static/js/2.bbb10c1f.chunk.js
  frontend/build/static/js/2.bbb10c1f.chunk.js.LICENSE.txt
  frontend/build/static/js/2.bbb10c1f.chunk.js.map
  frontend/build/static/js/main.b1da01e7.chunk.js
  frontend/build/static/js/main.b1da01e7.chunk.js.map
  frontend/build/static/js/runtime-main.18c498f1.js
  frontend/build/static/js/runtime-main.18c498f1.js.map
  frontend/build/static/media/404-cat.3eba6875.png
  frontend/build/static/media/background.7ad9be84.jpg
  frontend/build/static/media/crawling-banner-background.5a4cf467.jpg
  frontend/build/static/media/logo.fe41c8fe.png
Labels: DevOps, To Review

#55 Resolve "Register user and login user"
  .gitignore
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/ContentPages/CrawlingPage/TopBanner.js
  frontend/src/components/ContentPages/NewCrawlPage/NewCrawlContent.js
  frontend/src/components/ContentPages/NewCrawlPage/NewCrawlNavbar.js
  frontend/src/components/ContentPages/NotFoundPage.js
  frontend/src/components/LoginRegisterPage/Login.js
  frontend/src/components/LoginRegisterPage/Register.js
Labels: In Progress, frontend

#60 Resolve: "Change password"
  backend/src/auth/auth_controller.py
  backend/src/auth/auth_service.py
  backend/src/auth/password_model.py
  backend/src/user/user_model.py
  backend/src/user/user_service.py
Labels: To Review, backend

#56 Resolve "My Account page"
  backend/src/auth/auth_controller.py
  backend/src/auth/auth_service.py
  backend/src/auth/password_model.py
  backend/src/user/user_model.py
  backend/src/user/user_service.py
  frontend/src/components/ContentPages/MyAccountPage/MyAccountContent.js
  frontend/src/components/ContentPages/MyAccountPage/MyAccountNavbar.js
  frontend/src/components/ContentPages/MyCrawlsPage/MyCrawlsNavbar.js
  frontend/src/components/LoginRegisterPage/Login.js
  frontend/src/css/MyAccount.css
Labels: To Review, frontend

#59 Resolve "Fix: redirect logged user"
  backend/src/auth/auth_controller.py
  backend/src/auth/auth_service.py
  frontend/src/components/LoginRegisterPage/LoginRegister.js
Labels: To Review, backend, frontend

#51 Resolve "Adding crawls to db"
  backend/poetry.lock
  backend/src/auth/auth_controller.py
  backend/src/crawling/crawling_controller.py
  backend/src/crawling/crawling_service.py
  backend/src/crawling/models/crawl_data_model.py
  backend/src/crawling/models/script_model.py
  backend/src/crawling/scheduler.py
  backend/src/database/database_schemas.py
Labels: To Review, backend

#61 Resolve "Crawl page tweaks"
  frontend/src/components/ContentPages/CrawlingPage/TopBanner.js
  frontend/src/components/ContentPages/MyAccountPage/MyAccountContent.js
  frontend/src/components/ContentPages/MyCrawlsPage/Crawl.js
  frontend/src/components/ContentPages/NewCrawlPage/NewCrawlContent.js
  frontend/src/css/MyAccount.css
  frontend/src/media/oksubmit.jpg
Labels: In Progress, backend

#62 Resolve "Crawls scheduler"
  Dockerfile
  backend/src/crawling/crawling_controller.py
  backend/src/crawling/crawling_service.py
  backend/src/crawling/scheduler.py
  backend/src/database/connection.py
  backend/src/database/fake_db.py
  backend/src/helpers/crawling.py
  backend/src/helpers/email_notifications/__init__.py
  backend/src/helpers/email_notifications/email_crawling.html
  backend/src/helpers/email_notifications/email_crawling2.html
  backend/src/helpers/email_notifications/images/noticrawl.png
  backend/src/main.py
  backend/src/notifications/__init__.py
  backend/src/notifications/notifications.py
  docker-compose.yml
Labels: To Review, backend

#64 Fix "Crawls scheduler"
  backend/src/crawling/crawling_controller.py
  backend/src/crawling/crawling_service.py
  backend/src/crawling/scheduler.py
Labels: In Progress, backend, bug
