Repository nokia-wroclaw/innovativeproject-noticrawl, pull requests merged in 2020-03, with the labels that each got.

#4 Resolve " Provide commit styling"
  docs/commit-style.md
Labels: To Review, documentation

#7 Resolve "Sign-in page setup"
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/Footer.js
  frontend/src/components/Header.js
  frontend/src/components/LoginBox.js
  frontend/src/components/LoginPanel.js
  frontend/src/components/MainContent.js
  frontend/src/components/RegisterBox.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/media/background.jpg
  frontend/src/media/background2.jpg
  frontend/src/media/background3.jpg
  frontend/src/media/background4.jpg
  frontend/src/media/background5.jpg
  frontend/src/media/loginpanelbg.png
  frontend/src/media/logo.png
  frontend/src/serviceWorker.js
  frontend/src/setupTests.js
Labels: Doing, frontend

#15 Resolve "Register form validation"
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/RegisterBox.js
Labels: To Review, frontend
